:root{
    --blue-old: #000000;
    --blue: #000000;
    --cyan: #00AAAA;
    --grey: #BBBBBB;
    --dark-grey: #888888;
    --dark-grey: #FFFFFF;
    --black:  #000000;
    --pink: #FE54FE;
    --yellow: #FEFE33;
    --green: #35e200;
    --orange: #bb5d25;
}